{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
      <div class="medium-12 large-12 columns">
        <h4>RESERVERINGS</h4>

        <table class="stack">
          <thead>
            <tr>
              <th width="200">PLEK</th>
              <th width="200">NAAM</th>
              <th width="200">DATUM</th>
              <th width="200">ACTIE</th>
            </tr>
          </thead>

        </table>
      </div>
    </div>
{% endblock %}
