<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="navbar-fixed transparent camp" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img src=" {{ asset('img/fas.jpg')}} img/campinglogo.svg" class="campimg"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li ><a href="#">Verblijfsmogelijkheid</a></li>
            <li><a href="faciliteiten.html">Faciliteiten</a></li>
            <li class="active"><a href="contact.html">Contact</a></li>
            <li><a href="login.html"><i class="material-icons">assignment_ind</i></a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="index.html">Home</a></li>
            <li><a href="verblijfsmogelijkheid.html">Verblijfsmogelijkheid</a></li>
            <li><a href="faciliteiten.html">Faciliteiten</a></li>
            <li class="active"><a href="contact.html">Contact</a></li>
            <li><a href="login.html"><i class="material-icons">assignment_ind</i></a></li>

        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text lighten-1">Contact</h1>

            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="img/contact.jpg" alt="Unsplashed background img 1"></div>
</div>




<div class="container">
    <div class="section">

        <h1 class="brown-text">Telefonische informatie</h1>
        <p class="text">Al onze camping zijn op werkdagen en op zaterdag tussen 8.00 uur en 19.00 uur bereikbaar via het aangegeven telefoonnummer per park. <br> Onze beheerders zijn Jeroen en Anisoara Sturrus.
        </p>
        <h5 class="brown-text">Adres:</h5>
        <p>Helleweg 8, 4325 LB Renesse<br>
            Telefoon: 0111 468 282<br>
            Provincie: Zeeland</p>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2470.7760508837086!2d3.8016259157784296!3d51.737131379673585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c4f1179de66273%3A0xc5539c92b369c386!2sHelleweg+8%2C+Noordwelle!5e0!3m2!1snl!2snl!4v1526150992393" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer class="page-footer brown lighten-1">
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h5 class="white-text">Snel naar </h5>
                <ul>
                    <li><a class="white-text" href="verblijfsmogelijkheid.html">Accomondaties</a></li>
                    <li><a class="white-text" href="login.html">Boeken</a></li>
                </ul>
            </div>
            <div class="col s6">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li><a class="white-text" ><i class="material-icons">map</i>Helleweg 8, 4325 LB Renesse</a></li>
                    <li><a class="white-text" ><i class="material-icons">explore</i>Provincie: Zeeland</a></li>
                    <li><a class="white-text" ><i class="material-icons">phone</i>Telefoon: 0111 468 282</a></li>
                    <li><a class="white-text" ><i class="material-icons">email</i>info@campingochtendgloren.nl</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
