{% extends 'base.html.twig' %}
{% block body %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text lighten-1">Contact</h1>

                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{{ asset('img/contact.jpg')}}" alt="Unsplashed background img 1"></div>
    </div>
    <div class="container">
        <div class="section">

            <h1 class="brown-text">Telefonische informatie</h1>
            <p class="text">Al onze camping zijn op werkdagen en op zaterdag tussen 8.00 uur en 19.00 uur bereikbaar via het aangegeven telefoonnummer per park. <br> Onze beheerders zijn Jeroen en Anisoara Sturrus.
            </p>
            <h5 class="brown-text">Adres:</h5>
            <p>Helleweg 8, 4325 LB Renesse<br>
                Telefoon: 0111 468 282<br>
                Provincie: Zeeland</p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2470.7760508837086!2d3.8016259157784296!3d51.737131379673585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c4f1179de66273%3A0xc5539c92b369c386!2sHelleweg+8%2C+Noordwelle!5e0!3m2!1snl!2snl!4v1526150992393" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

{% endblock %}