{% extends 'base.html.twig' %}
{% block body %}


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text lighten-1">Faciliteiten</h1>

            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{{ asset('img/fas.jpg')}}" alt="Unsplashed background img 1"></div>
</div>




<div class="container">
    <div class="section">

        <h1 class="brown-text"> Voorzieningen en mogelijkheden</h1>
        <p class="text"> Door de kleinschaligheid van de camping liggen voorzieningen dicht bij elkaar: Receptie, horeca, terras, winkel, sanitairgebouw en recreatieve activiteiten. Het horecaterras is het middelpunt van het park.
        </p>
        <img class="responsive-img" src="{{ asset('img/fas1.jpg')}}" width="600" height="400" style="float: right">
        <ul>
            <li>Ruime kampeerplaatsen, afgescheiden door een verzorgde haag</li>
            <li>Comfortabele safaritenten, met groot terras.</li>
            <li>Luxe lodge tenten, met groot terras en met sanitaire voorzieningen.</li>
            <li>Mobilhomes aan de heuvelrand van het park</li>
            <li>Gezellige horeca binnen, en buiten op het zonneterras</li>
            <li>Luxe sanitair-gebouw</li>
            <li>Recreatieprogramma voor alle leeftijden</li>
            <li>Grote overdekte ruimte voor recreatie-activiteiten (de ‘Witte Tent’)</li>
            <li>Receptie en goed geoutilleerde parkwinkel</li>
            <li>Sport- en speelvelden</li>
            <li>Kinderspeeltuintjes</li>
            <li>Tafeltennis</li>
            <li>Wifi</li>
            <li>Aangepast sanitair</li>
            <li>Kampvuur</li>
            <li>Jongerenhonk</li>
            <li>Beachvolleybalveld</li>
        </ul>

    </div>
</div>
{% endblock %}
