{% extends 'base.html.twig' %}
{% block body %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center brown-text lighten-1">Welkom bij Camping 'Ochtendgloren'</h1>
                <div class="row center">
                    <h5 class="header col s12 white-text">Een kindvriendelijke camping in Renesse, Zeeland</h5>
                </div>
                <div class="row center">
                    <a href="{{ path('reservations') }}" id="download-button" class="btn-large waves-effect waves-light brown lighten-1">Boek nu!</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="{{ asset('img/background1.jpg')}}" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">terrain</i></h2>
                        <h5 class="center">Vakantie Gevoel</h5>

                        <p class="light">Een vakantie op een kindvriendelijke camping in Renesse met 5 sterren? Deze beleef je met het hele gezin op Strandpark De Zeeuwse Kust! De familiecamping ligt op slechts 250 meter van het noordzeestrand in Renesse; één van de mooiste plekken van Zeeland.
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">child_care</i></h2>
                        <h5 class="center">Kindvriendelijk</h5>

                        <p class="light">Kindvriendelijke camping in Zeeland? Een kindvriendelijke camping biedt meer dan een paar speeltoestellen. Camping 'Ochtendgloren' is dan ook niet zomaar een kindercamping in Zeeland. Bij ons staat namelijk het speelplezier centraal. Zowel voor onze allerkleinste gasten als voor oudere kinderen is veel te beleven op de camping, maar zeker ook op het strand bij de Brouwersdam of Renesse. Want wat is er leuker dan spelen met zand op het strand en zwemmen en spetteren in de zee tijdens een kampeervakantie op een kindvriendelijke camping in Zeeland? </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">location_on</i></h2>
                        <h5 class="center">Locatie</h5>

                        <p class="light">De Zeeuwse Kust ligt op een prachtige locatie, aan de voet van de duinen van Renesse op het mooie Schouwen Duiveland in Zeeland. Naast het genieten van de zon, zee en strand heeft Schouwen Duiveland veel meer te bieden; het hele jaar door! Beleef het mee en ervaar een echte Zeeuwse vakantie bij Strandpark De Zeeuwse Kust!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 white-text">Een speelparadijs voor ieder kind</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('img/background2.jpg')}}" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Camping 'Ochtendgloren', de gezelligste camping van Zeeland</h4>
                    <p class="left-align light">Kom naar Camping 'Ochtendgloren, de gezelligste camping van Zeeland en geniet van een geweldige vakantie aan de Zeeuwse kust. De camping bij de Renesse heeft uitstekende faciliteiten en beschikt over diverse ruime kampeervelden met veel privacy, waar u na een fantastische dag op het recreatiepark, in de omgeving of aan het strand heerlijk kunt overnachten. Voor kinderen is er veel te beleven op de camping; naast een groot sport- en speelterrein is er in de zomervakantie leuke animatie. Vermaak u op het strand of waag u aan diverse watersporten. Ontdek het gezellige dorpje Ellemeet en geniet op de leukste camping in Zeeland!</p>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 white-text">Familiecamping nabij het strand</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('img/background3.jpg')}}" alt="Unsplashed background img 3"></div>
    </div>
{% endblock %}